*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(211, 214, 216);
    font-family: 'Courier New', Courier, monospace;
}
.container{
    max-width: 1200px;
    margin: 0,auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}